<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/permispiste</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">userepul</property>
        <property name="connection.password">epul</property>
        <mapping class="com.epul.entities.ActionEntity"/>
        <mapping class="com.epul.entities.AppartientEntity"/>
        <mapping class="com.epul.entities.AppartientEntityPK"/>
        <mapping class="com.epul.entities.ApprenantEntity"/>
        <mapping class="com.epul.entities.CalendrierEntity"/>
        <mapping class="com.epul.entities.EstAssocieEntity"/>
        <mapping class="com.epul.entities.EstAssocieEntityPK"/>
        <mapping class="com.epul.entities.FixeEntity"/>
        <mapping class="com.epul.entities.FixeEntityPK"/>
        <mapping class="com.epul.entities.IndicateurEntity"/>
        <mapping class="com.epul.entities.InscritEntity"/>
        <mapping class="com.epul.entities.InscritEntityPK"/>
        <mapping class="com.epul.entities.JeuEntity"/>
        <mapping class="com.epul.entities.MissionEntity"/>
        <mapping class="com.epul.entities.ObjectifEntity"/>
        <mapping class="com.epul.entities.ObtientEntity"/>
        <mapping class="com.epul.entities.ObtientEntityPK"/>
        <mapping class="com.epul.entities.PossedeEntity"/>
        <mapping class="com.epul.entities.PossedeEntityPK"/>
        <mapping class="com.epul.entities.RegleEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>